In [1]:
import pandas as pd

In [3]:
import warnings

In [69]:
warnings.filterwarnings("ignore")

In [9]:
s1=pd.Series([1,4,7,2,5])

In [11]:
s1

0    1
1    4
2    7
3    2
4    5
dtype: int64

In [15]:
months=pd.Series(["Jan","Feb","Mar","Apr","May"])

In [17]:
months

0    Jan
1    Feb
2    Mar
3    Apr
4    May
dtype: object

In [21]:
months.index=[1,2,3,4,5]

In [23]:
months

1    Jan
2    Feb
3    Mar
4    Apr
5    May
dtype: object

In [25]:
days=pd.Series([31,28,31,30,31],index=["Jan","Feb","Mar","Apr","May"])

In [27]:
days

Jan    31
Feb    28
Mar    31
Apr    30
May    31
dtype: int64

In [29]:
days.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May'], dtype='object')

In [31]:
days.values

array([31, 28, 31, 30, 31], dtype=int64)

In [33]:
days.sum

<bound method Series.sum of Jan    31
Feb    28
Mar    31
Apr    30
May    31
dtype: int64>

In [35]:
days.sum()

151

In [37]:
days.mean()

30.2

In [39]:
days.mode()

0    31
dtype: int64

In [41]:
days.std()

1.30384048104053

In [45]:
days.value_counts()

31    3
28    1
30    1
Name: count, dtype: int64

In [47]:
days=pd.Series(["Jan","Feb","Mar","Apr","May"],index=[31,28,31,30,31])

In [49]:
days

31    Jan
28    Feb
31    Mar
30    Apr
31    May
dtype: object

In [51]:
days=pd.Series([31,30,31,30,31],index=["Dec","Nov","Oct","Sep","Aug"])

In [53]:
days

Dec    31
Nov    30
Oct    31
Sep    30
Aug    31
dtype: int64

In [55]:
d1=days.reset_index(drop=True)

In [57]:
d1

0    31
1    30
2    31
3    30
4    31
dtype: int64

In [59]:
d2=days.reset_index(drop=True)

In [61]:
d2

0    31
1    30
2    31
3    30
4    31
dtype: int64

In [63]:
d1+d2

0    62
1    60
2    62
3    60
4    62
dtype: int64

In [65]:
days.index

Index(['Dec', 'Nov', 'Oct', 'Sep', 'Aug'], dtype='object')

In [67]:
days.index.tolist()

['Dec', 'Nov', 'Oct', 'Sep', 'Aug']

 #Data Frame:- Data stucture To create a Data Frame with the help of Pandas

In [81]:
dict={"Name":["Sachine","Dhoni","Virat","Rohit"],"Jersey":[10,7,18,45]}

In [83]:
dict

{'Name': ['Sachine', 'Dhoni', 'Virat', 'Rohit'], 'Jersey': [10, 7, 18, 45]}

In [87]:
Players=pd.DataFrame(dict)

In [91]:
Players

      Name  Jersey
0  Sachine      10
1    Dhoni       7
2    Virat      18
3    Rohit      45

In [95]:
list=[
    {"Name":"Sachine","Jersey":10},
    {"Name":"Dhoni","Jersey":7},
    {"Name":"Virat","Jersey":18},
    {"Name":"Rohit","Jersey":45},
]

In [97]:
list

[{'Name': 'Sachine', 'Jersey': 10},
 {'Name': 'Dhoni', 'Jersey': 7},
 {'Name': 'Virat', 'Jersey': 18},
 {'Name': 'Rohit', 'Jersey': 45}]

In [99]:
player=pd.DataFrame(list)

In [101]:
player

      Name  Jersey
0  Sachine      10
1    Dhoni       7
2    Virat      18
3    Rohit      45

# To create a Data Fream with the help of np

In [111]:
import numpy as np

In [113]:
df1=pd.DataFrame(np.arange(1,25).reshape(6,4),
                columns=["Col1","Col2","Col3","Col4"])

In [115]:
df1

   Col1  Col2  Col3  Col4
0     1     2     3     4
1     5     6     7     8
2     9    10    11    12
3    13    14    15    16
4    17    18    19    20
5    21    22    23    24

In [124]:
data=np.random.randint(35,99,100)

In [126]:
data.reshape(5,20)

array([[64, 66, 37, 51, 91, 71, 66, 79, 65, 52, 98, 91, 94, 84, 81, 80,
        47, 79, 67, 91],
       [97, 52, 86, 58, 98, 41, 49, 77, 44, 50, 72, 47, 39, 90, 35, 68,
        50, 77, 94, 63],
       [42, 57, 87, 96, 40, 48, 52, 52, 60, 82, 65, 91, 64, 68, 85, 96,
        92, 39, 68, 39],
       [35, 90, 56, 77, 86, 64, 54, 74, 64, 47, 53, 38, 63, 60, 91, 62,
        87, 90, 73, 60],
       [65, 90, 94, 38, 82, 70, 51, 36, 91, 89, 38, 52, 77, 56, 45, 72,
        59, 46, 41, 87]])

In [166]:
df2=pd.read_excel(r"C:\Users\yasht\Downloads\global_superstore.xlsx")

In [167]:
df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,1.002,High

In [172]:
df2.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [174]:
df2.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium

In [182]:
df3=pd.read_csv(r"C:\Users\yasht\Downloads\data.csv")

In [184]:
df3

,Sub-Category,Market,Region,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Product ID,Category,Product Name,Order Priority
0,Binders,Europe,Western Europe,ES-2012-AR1040548-41067,Standard Class,AR-1040548,Allen Rosenblatt,Corporate,Berlin,Berlin,Germany,OFF-BI-3293,Office Supplies,"Avery Index Tab, Clear",Medium
1,Binders,Europe,Western Europe,ES-2012-AR1040548-41067,Standard Class,AR-1040548,Allen Rosenblatt,Corporate,Berlin,Berlin,Germany,OFF-BI-3719,Office Supplies,"Cardinal Binder Covers, Recycled",Medium
2,Binders,Europe,Western Europe,ES-2012-AR1040548-41067,Standard Class,AR-1040548,Allen Rosenblatt,Corporate,Berlin,Berlin,Germany,OFF-BI-6371,Office Supplies,"Wilson Jones 3-Hole Punch, Economy",Medium
3,Binders,Europe,Western Europe,ES-2012-AR1082548-41181,First Class,AR-1082548,Anthony Rawles,Corporate,Langenhagen,Lower Saxony,Germany,OFF-BI-2914,Office Supplies,"Acco Hole Reinforcements, Economy",High
4,Binders,Europe,Western Europe,ES-2012-BM1114048-41222,Second Class,BM-1114048,Becky Martin,Consumer,Bochum,North Rhine-Westphalia,Germany,OFF-BI-3726,Office Supplies,"Cardinal Binding Machine, Economy",High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Binders,Europe,Western Europe,IT-2015-GT1475548-42266,Standard Class,GT-1475548,Guy Thornton,Consumer,Berlin,Berlin,Germany,OFF-BI-2915,Office Supplies,"Acco Hole Reinforcements, Recycled",Medium
251,Binders,Europe,Western Europe,IT-2015-GT1475548-42266,Standard Class,GT-1475548,Guy Thornton,Consumer,Berlin,Berlin,Germany,OFF-BI-4807,Office Supplies,"Ibico Binder Covers, Clear",Medium
252,Binders,Europe,Western Europe,IT-2015-JW1522048-42256,Second Class,JW-1522048,Jane Waco,Corporate,Herten,North Rhine-Westphalia,Germany,OFF-BI-2913,Office Supplies,"Acco Hole Reinforcements, Durable",Critical
253,Binders,Europe,Western Europe,IT-2015-MH1744048-42325,Standard Class,MH-1744048,Mark Haberlin,Corporate,Celle,Lower Saxony,Germany,OFF-BI-3739,Office Supplies,"Cardinal Index Tab, Economy",Medium
254,Binders,Europe,Western Europe,IT-2015-NG1835548-42309,Standard Class,NG-1835548,Nat Gilpin,Corporate,Berlin,Berlin,Germany,OFF-BI-2899,Office Supplies,"Acco Binding Machine, Clear",Low

In [188]:
df3.describe()

,Sub-Category,Market,Region,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Product ID,Category,Product Name,Order Priority
count,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255
unique,1,1,1,221,4,193,193,3,85,15,1,104,1,104,4
top,Binders,Europe,Western Europe,ES-2012-AR1040548-41067,Standard Class,GG-1465048,Greg Guthrie,Consumer,Berlin,North Rhine-Westphalia,Germany,OFF-BI-3724,Office Supplies,"Cardinal Binding Machine, Clear",Medium
freq,255,255,255,3,155,5,5,133,28,107,255,6,255,6,149

In [190]:
df1.describe()

            Col1       Col2       Col3       Col4
count   6.000000   6.000000   6.000000   6.000000
mean   11.000000  12.000000  13.000000  14.000000
std     7.483315   7.483315   7.483315   7.483315
min     1.000000   2.000000   3.000000   4.000000
25%     6.000000   7.000000   8.000000   9.000000
50%    11.000000  12.000000  13.000000  14.000000
75%    16.000000  17.000000  18.000000  19.000000
max    21.000000  22.000000  23.000000  24.000000

In [192]:
df2.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2014-05-11 21:26:49.155780608,2014-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.478567
min,1.00000,2012-01-01 00:00:00,2012-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,1.002000
25%,12823.25000,2013-06-19 00:00:00,2013-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2014-07-08 00:00:00,2014-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2015-05-22 00:00:00,2015-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2015-12-31 00:00:00,2016-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.251373

In [194]:
df2[["Sales","Quantity"]].head()

      Sales  Quantity
0   221.980         2
1  3709.395         9
2  5175.171         9
3  2892.510         5
4  2832.960         8

In [202]:
df2[["Sales","Quantity"]].head(3)

      Sales  Quantity
0   221.980         2
1  3709.395         9
2  5175.171         9

In [204]:
df2[["Sales","Quantity"]].tail(3)

       Sales  Quantity
51287   8.56         2
51288  13.44         2
51289  61.38         3

In [223]:
df2["Region"].head()

0        Central US
1           Oceania
2           Oceania
3    Western Europe
4    Western Africa
Name: Region, dtype: object

In [225]:
df2.loc[100:200:10]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
100,46257,CG-2014-HM498033-41846,2014-07-26,2014-08-01,Standard Class,HM-498033,Henry MacAllister,Consumer,NaN,Kinshasa,...,TEC-PH-5268,Technology,Phones,"Motorola Smart Phone, Full Size",3856.140,6,0.0,1465.200,533.990,Low
110,32648,CA-2014-AS10045140-41727,2014-03-29,2014-04-01,First Class,AS-100451408,Aaron Smayling,Corporate,22204.0,Arlington,...,OFF-ST-4516,Office Supplies,Storage,Hanging Personal Folder File,31.400,2,0.0,7.850,3.810,Medium
120,21668,IN-2014-CM121157-41913,2014-10-01,2014-10-02,First Class,CM-121157,Chad McGuire,Consumer,NaN,Adelaide,...,TEC-CO-4790,Technology,Copiers,"HP Wireless Fax, Digital",1943.190,6,0.1,258.930,499.620,High
130,23880,IN-2014-SV2081558-41968,2014-11-25,2014-11-27,First Class,SV-2081558,Stuart Van,Corporate,NaN,Vadodara,...,TEC-CO-4577,Technology,Copiers,"Hewlett Fax Machine, High-Speed",1590.600,5,0.0,572.550,493.200,Critical
140,2283,MX-2013-PV1898518-41614,2013-12-06,2013-12-08,First Class,PV-1898518,Paul Van Hugh,Home Office,NaN,Salto,...,TEC-AC-5223,Technology,Accessories,"Memorex Router, Bluetooth",2297.960,14,0.0,988.120,483.257,High
150,15376,IT-2012-GM1468091-41215,2012-11-02,2012-11-05,First Class,GM-1468091,Greg Matthias,Consumer,NaN,Amsterdam,...,OFF-AP-4745,Office Supplies,Appliances,"Hoover Stove, White",1983.135,7,0.5,-1784.895,473.270,High
160,22058,IN-2014-SO2033527-41914,2014-10-02,2014-10-04,First Class,SO-2033527,Sean O'Donnell,Consumer,NaN,Changchun,...,OFF-AP-4502,Office Supplies,Appliances,"Hamilton Beach Refrigerator, Red",3000.780,6,0.0,1080.180,465.630,High
170,21639,ID-2014-RL196157-41641,2014-01-02,2014-01-03,First Class,RL-196157,Rob Lucas,Consumer,NaN,Newcastle,...,FUR-BO-3639,Furniture,Bookcases,"Bush Library with Doors, Metal",1637.010,5,0.1,-36.390,452.280,Medium
180,51130,UP-2015-DJ3510137-42202,2015-07-17,2015-07-19,Second Class,DJ-3510137,Don Jones,Corporate,NaN,Zhytomyr,...,OFF-AP-4738,Office Supplies,Appliances,"Hoover Refrigerator, White",3146.400,6,0.0,629.280,443.550,Critical
190,24859,IN-2015-JF1519021-42341,2015-12-03,2015-12-07,Standard Class,JF-1519021,Jamie Frazer,Consumer,NaN,Phnom Penh,...,FUR-TA-4706,Furniture,Tables,"Hon Training Table, Fully Assembled",2673.360,8,0.0,1069.200,432.570,High
200,24361,IN-2014-NM1844527-41800,2014-06-10,2014-06-10,Same Day,NM-1844527,Nathan Mautz,Home Office,NaN,Shenzhen,...,TEC-CO-5991,Technology,Copiers,"Sharp Copy Machine, High-Speed",957.600,4,0.0,0.000,427.100,Critical

In [243]:
df2["City"].unique()

array(['Oklahoma City', 'Wollongong', 'Brisbane', ..., 'San Mateo',
       'Portage', 'Victoria Falls'], dtype=object)

In [255]:
df2.sort_values("Sales")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51260,35398,US-2015-ZC21910140-42175,2015-06-20,2015-06-24,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,77095.0,Houston,...,OFF-AP-4739,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,1.01000,Medium
45391,40589,CA-2015-RS19765140-42066,2015-03-03,2015-03-03,Same Day,RS-197651402,Roland Schwarz,Corporate,76706.0,Waco,...,OFF-BI-2935,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556,1,0.8,-0.9452,1.08000,Medium
33493,39955,CA-2014-KB16600140-41812,2014-06-22,2014-06-26,Standard Class,KB-166001402,Ken Brennan,Corporate,60623.0,Chicago,...,OFF-BI-3268,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836,1,0.8,-1.3376,1.06000,Medium
26588,36008,CA-2012-JO15280140-40998,2012-03-30,2012-03-30,Same Day,JO-152801406,Jas O'Carroll,Consumer,19120.0,Philadelphia,...,OFF-BI-3318,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852,1,0.7,-0.5964,1.10000,High
24977,33403,US-2012-HG14965140-41177,2012-09-25,2012-09-25,Same Day,HG-149651402,Henry Goldwyn,Corporate,75150.0,Mesquite,...,OFF-BI-2880,Office Supplies,Binders,Acco 3-Hole Punch,0.876,1,0.8,-1.4016,1.09000,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25238,35487,CA-2015-HL15040140-42326,2015-11-18,2015-11-23,Standard Class,HL-150401406,Hunter Lopez,Consumer,19711.0,Newark,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856,363.19000,Medium
49940,33920,CA-2015-TA21385140-42300,2015-10-23,2015-10-25,First Class,TA-213851406,Tom Ashbrook,Home Office,10024.0,New York City,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888,45.98000,High
44248,39450,CA-2015-RB19360140-42087,2015-03-24,2015-03-26,First Class,RB-193601404,Raymond Buch,Consumer,98115.0,Seattle,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,20.00054,Medium
49003,38123,CA-2014-TC20980140-41915,2014-10-03,2014-10-10,Standard Class,TC-209801402,Tamara Chand,Corporate,47905.0,Lafayette,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760,349.07000,Medium
47114,33994,CA-2012-SM20320140-40985,2012-03-17,2012-03-22,Standard Class,SM-203201408,Sean Miller,Home Office,32216.0,Jacksonville,...,TEC-MA-3819,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784,24.28650,Medium

In [261]:
df2.sort_values("Sales",ascending=False)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
47114,33994,CA-2012-SM20320140-40985,2012-03-17,2012-03-22,Standard Class,SM-203201408,Sean Miller,Home Office,32216.0,Jacksonville,...,TEC-MA-3819,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784,24.28650,Medium
49003,38123,CA-2014-TC20980140-41915,2014-10-03,2014-10-10,Standard Class,TC-209801402,Tamara Chand,Corporate,47905.0,Lafayette,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760,349.07000,Medium
44248,39450,CA-2015-RB19360140-42087,2015-03-24,2015-03-26,First Class,RB-193601404,Raymond Buch,Consumer,98115.0,Seattle,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,20.00054,Medium
49940,33920,CA-2015-TA21385140-42300,2015-10-23,2015-10-25,First Class,TA-213851406,Tom Ashbrook,Home Office,10024.0,New York City,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888,45.98000,High
25238,35487,CA-2015-HL15040140-42326,2015-11-18,2015-11-23,Standard Class,HL-150401406,Hunter Lopez,Consumer,19711.0,Newark,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856,363.19000,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24977,33403,US-2012-HG14965140-41177,2012-09-25,2012-09-25,Same Day,HG-149651402,Henry Goldwyn,Corporate,75150.0,Mesquite,...,OFF-BI-2880,Office Supplies,Binders,Acco 3-Hole Punch,0.876,1,0.8,-1.4016,1.09000,High
26588,36008,CA-2012-JO15280140-40998,2012-03-30,2012-03-30,Same Day,JO-152801406,Jas O'Carroll,Consumer,19120.0,Philadelphia,...,OFF-BI-3318,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852,1,0.7,-0.5964,1.10000,High
33493,39955,CA-2014-KB16600140-41812,2014-06-22,2014-06-26,Standard Class,KB-166001402,Ken Brennan,Corporate,60623.0,Chicago,...,OFF-BI-3268,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836,1,0.8,-1.3376,1.06000,Medium
45391,40589,CA-2015-RS19765140-42066,2015-03-03,2015-03-03,Same Day,RS-197651402,Roland Schwarz,Corporate,76706.0,Waco,...,OFF-BI-2935,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556,1,0.8,-0.9452,1.08000,Medium
51260,35398,US-2015-ZC21910140-42175,2015-06-20,2015-06-24,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,77095.0,Houston,...,OFF-AP-4739,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,1.01000,Medium

In [278]:
df2[(df2["Category"]=="Technology")&(df2["Sub-Category"]=="Copiers")]["Sales"].sum()

1509436.2732799998

In [280]:
df2[(df2["Category"]=="Technology")&(df2["Sub-Category"]=="Copiers")]["Sales"].mean()

679.0086699415205

#only those record who is sales is greater than 3000?

In [282]:
df2[df2["Sales"]>=1000]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
5,22732,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,JM-156557,Jim Mitchum,Corporate,NaN,Sydney,...,TEC-PH-5842,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,897.35,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51152,32050,CA-2014-YC21895140-41737,2014-04-08,2014-04-10,First Class,YC-218951404,Yoseph Carroll,Corporate,94110.0,San Francisco,...,TEC-CO-4584,Technology,Copiers,Hewlett Packard 610 Color Digital Copier / Pri...,1199.976,3,0.2,374.9925,363.78,High
51191,32496,CA-2014-ZC21910140-41738,2014-04-09,2014-04-13,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,77041.0,Houston,...,OFF-BI-4340,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,1088.792,4,0.8,-1850.9464,169.49,High
51192,32107,CA-2012-ZC21910140-41194,2012-10-12,2012-10-14,First Class,ZC-219101404,Zuschuss Carroll,Consumer,98026.0,Edmonds,...,FUR-TA-3425,Furniture,Tables,"Bevis Round Bullnose 29"" High Table Top",1298.550,5,0.0,311.6520,146.92,High
51193,36485,CA-2013-ZC21910140-41530,2013-09-13,2013-09-18,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,47201.0,Columbus,...,FUR-CH-4670,Furniture,Chairs,Hon Multipurpose Stacking Arm Chairs,1516.200,7,0.0,394.2120,132.78,Medium
51200,32343,CA-2014-ZC21910140-41707,2014-03-09,2014-03-14,Standard Class,ZC-219101408,Zuschuss Carroll,Consumer,33142.0,Miami,...,TEC-PH-3820,Technology,Phones,Cisco Unified IP Phone 7945G VoIP phone,1363.960,5,0.2,85.2475,61.08,Medium

In [288]:
df2[df2["Sales"]>=1000].sort_values("Sales").head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51129,37507,CA-2015-YS21880140-42235,2015-08-19,2015-08-26,Standard Class,YS-218801404,Yana Sorensen,Corporate,98103.0,Seattle,...,OFF-ST-5076,Office Supplies,Storage,Letter Size Cart,1000.02,7,0.0,290.0058,63.20,Medium
51128,32910,CA-2015-YS21880140-42360,2015-12-22,2015-12-26,Standard Class,YS-218801404,Yana Sorensen,Corporate,94601.0,Oakland,...,OFF-ST-5076,Office Supplies,Storage,Letter Size Cart,1000.02,7,0.0,290.0058,172.55,High
2017,4993,MX-2012-RA1991518-41226,2012-11-13,2012-11-14,First Class,RA-1991518,Russell Applegate,Consumer,NaN,Itamaraju,...,OFF-AP-4502,Office Supplies,Appliances,"Hamilton Beach Refrigerator, Red",1000.26,3,0.0,200.0400,133.57,High

In [294]:
df2.query("Sales==1003")

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Postal Code, City, State, Country, Region, Market, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Shipping Cost, Order Priority]
Index: []

[0 rows x 24 columns]

In [298]:
df2.query("Category=='Furniture'and Sales>=1003")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
6,30570,IN-2012-TS2134092-41219,2012-11-06,2012-11-08,First Class,TS-2134092,Toby Swindell,Consumer,NaN,Porirua,...,FUR-CH-5378,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.77,Critical
7,31192,IN-2013-MB1808592-41378,2013-04-14,2013-04-18,Standard Class,MB-1808592,Mick Brown,Consumer,NaN,Hamilton,...,FUR-TA-3764,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38,High
11,28879,ID-2013-AJ107801-41383,2013-04-19,2013-04-22,First Class,AJ-107801,Anthony Jacobs,Corporate,NaN,Kabul,...,FUR-TA-3420,Furniture,Tables,"Bevis Conference Table, Fully Assembled",4626.150,5,0.0,647.5500,835.57,High
13,4132,MX-2013-VF2171518-41591,2013-11-13,2013-11-13,Same Day,VF-2171518,Vicky Freymann,Home Office,NaN,Toledo,...,FUR-CH-4530,Furniture,Chairs,"Harbour Creations Executive Leather Armchair, ...",2221.800,7,0.0,622.0200,810.25,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50502,40862,CA-2012-TG21640140-40998,2012-03-30,2012-03-30,Same Day,TG-216401408,Trudy Glocke,Consumer,33614.0,Tampa,...,FUR-CH-4417,Furniture,Chairs,Global Leather Highback Executive Chair with P...,1125.488,7,0.2,98.4802,145.94,High
50772,40290,CA-2015-VP21760140-42294,2015-10-17,2015-10-22,Standard Class,VP-217601408,Victoria Pisteka,Corporate,38401.0,Columbia,...,FUR-TA-3332,Furniture,Tables,Balt Solid Wood Round Tables,1875.258,7,0.4,-968.8833,48.15,Medium
50803,40725,CA-2012-VW21775140-41039,2012-05-10,2012-05-15,Standard Class,VW-217751402,Victoria Wilson,Corporate,77340.0,Huntsville,...,FUR-CH-4670,Furniture,Chairs,Hon Multipurpose Stacking Arm Chairs,1212.960,8,0.3,-69.3120,68.07,Medium
51192,32107,CA-2012-ZC21910140-41194,2012-10-12,2012-10-14,First Class,ZC-219101404,Zuschuss Carroll,Consumer,98026.0,Edmonds,...,FUR-TA-3425,Furniture,Tables,"Bevis Round Bullnose 29"" High Table Top",1298.550,5,0.0,311.6520,146.92,High
51193,36485,CA-2013-ZC21910140-41530,2013-09-13,2013-09-18,Standard Class,ZC-219101402,Zuschuss Carroll,Consumer,47201.0,Columbus,...,FUR-CH-4670,Furniture,Chairs,Hon Multipurpose Stacking Arm Chairs,1516.200,7,0.0,394.2120,132.78,Medium

In [9]:
import pandas as pd

In [11]:
ss= pd.read_excel(r"C:\Users\yasht\Downloads\global_superstore.xlsx")

In [12]:
ss.groupby("Category")[["Sales","Profit","Quantity"]].sum()

                        Sales        Profit  Quantity
Category
Furniture        4.110452e+06  285082.73020     34892
Office Supplies  3.787493e+06  518595.82790    108244
Technology       4.744557e+06  663778.73318     35176

In [13]:
ss.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [21]:
ss["Region"].value_counts()

Region
Western Europe       5883
Central America      5616
Oceania              3487
Western US           3203
Southeastern Asia    3129
South America        2988
Eastern US           2848
Southern Asia        2655
Western Asia         2440
Eastern Asia         2374
Central US           2323
Northern Europe      2204
Southern Europe      2113
Caribbean            1690
Southern US          1620
Eastern Europe       1529
Western Africa       1460
North Africa         1278
Eastern Africa        728
Central Africa        643
Southern Africa       478
Canada                384
Central Asia          217
Name: count, dtype: int64

In [23]:
ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

In [25]:
pd.crosstab(ss["Region"],ss["Segment"])

Segment            Consumer  Corporate  Home Office
Region
Canada                  202        110           72
Caribbean               828        507          355
Central Africa          356        169          118
Central America        2891       1717         1008
Central Asia            125         48           44
Central US             1212        673          438
Eastern Africa          347        206          175
Eastern Asia           1174        729          471
Eastern Europe          790        450          289
Eastern US             1469        877          502
North Africa            690        345          243
Northern Europe        1118        701          385
Oceania                1837       1053          597
South America          1602        829          557
Southeastern Asia      1650        909          570
Southern Africa         223        156           99
Southern Asia          1358        805          492
Southern Europe        1074        688          351
Southern US             838        510          272
Western Africa          765        436          259
Western Asia           1218        777          445
Western Europe         3079       1774         1030
Western US             1672        960          571

In [31]:
ss.isna().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [35]:
ss.duplicated().sum()

0